In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
"""  Data comes    from 200  gb    files  so    it  was    sampled  with the follosing commands, note  I am sampling 
the  100.00   rows file  to  get  1000  row files"""

'  Data comes    from 200  gb    files  so    it  was    sampled  with the follosing commands, note  I am sampling \nthe  100.00   rows file  to  get  1000  row files'

In [4]:
data=pd.read_csv('sample10000.csv')

In [5]:
data.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30
5,2,2016-12-14 20:16:30,2016-12-14 20:27:05,4,0.94,1,N,162,230,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
6,2,2016-12-22 10:12:29,2016-12-22 10:21:08,1,1.01,1,N,262,263,1,7.0,0.0,0.5,1.95,0.0,0.3,9.75
7,2,2016-12-30 19:11:29,2016-12-30 19:20:03,2,0.98,1,N,161,186,1,7.0,1.0,0.5,2.20,0.0,0.3,11.00
8,2,2016-12-07 09:22:07,2016-12-07 09:39:30,1,1.05,1,N,141,162,1,11.0,0.0,0.5,2.36,0.0,0.3,14.16
9,2,2016-12-24 00:52:33,2016-12-24 01:05:45,1,2.69,1,N,144,186,2,11.5,0.5,0.5,0.00,0.0,0.3,12.80

In [7]:
# writing the header  into file

In [19]:
! head -n 1 sample10000.csv > sample1000.csv

In [20]:
! tail -n +2 sample10000.csv  | shuf -n 100  >> sample1000.csv

In [21]:
is_cash_paid = data.payment_type == 2
sum(is_cash_paid)

3543

In [23]:

from statsmodels.stats.proportion import proportion_confint
from statsmodels.stats.weightstats import _tconfint_generic

In [24]:
proportion_confint(sum(is_cash_paid), len(is_cash_paid), alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

In [25]:
round(data.trip_distance.mean(), 2)

2.88

In [26]:
std = data.trip_distance.std(ddof=1) / np.sqrt(len(data.trip_distance))
round(std, 3)

0.036

In [27]:
s = data.trip_distance.std(ddof=1) / np.sqrt(len(data.trip_distance))

In [28]:
s

0.035839254113945292

In [29]:
interval = _tconfint_generic(data.trip_distance.mean(), s, len(data.trip_distance) - 1, 0.05, 'two-sided')
interval

(2.8110118487985973, 2.9515161512014023)